{
  "presets": [
    // [
    //   "@babel/preset-env",
    //   {
    //     "targets": {
    //       "node": "10"
    //     }
    //   }
    // ],
    // "@babel/preset-react",
    "next/babel"
  ],
  "plugins": [
    "@babel/plugin-proposal-do-expressions",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    ["@babel/plugin-proposal-class-properties"]
  ]
}
